.skillItem{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font: 600 1.8rem Rajdhani;
}

.skillItem > p{
  max-width: 12.5rem;
  text-align: left;
}

.skillItem .numbers{
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.skillItem .input hr{
  width: 3.5rem;
  position: relative;
  top: -4px;
}

.skillItem .input input{
  font: 600 1.8rem Rajdhani;
  width: 3rem;
}

.skillItem .input input,
.skillItem .input hr{
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}

.skillItem + .skillItem{
  margin-top: 1rem;
}

input:read-only{
  outline: 0;
}

@media(min-width: 1600px){
  .skillItem,
  .skillItem .input input{
    font-size: 2rem;
  }

  .skillItem .input hr{
    width: 4rem;
  }

  .skillItem > p{
    max-width: none;
  }

}