.diceOptions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font: 600 2rem Rajdhani;
}

.diceOptions input{
  width: 3rem;
}

.diceOptions hr{
  width: 4rem;
}

.diceOptions span{
  margin: 0 0.5rem;
}

.diceOptions button{
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  border: 0;
  margin-left: 0.5rem;

  font: 500 1.8rem Rajdhani;

  background: var(--color-button);
  color: var(--color-text-button);

  cursor: pointer;
}

.block{
  margin-top: 2rem;
}

.block h3{
  font: 600 2rem Rajdhani !important;
}

.block > div:last-child{
  height: 15rem;
}

.buttonSave{
  margin-top: 2rem;
}

.diceItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.diceItem p{
  font: 500 1.9rem Rajdhani;
  margin: 0 1rem;
}

.diceItem button,
.diceItem button img{
  width: 1.4rem;
  height: 1.4rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.diceItem + .diceItem{
  margin-top: 0.75rem;
}