.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5rem 0;
}

.line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.previewImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 2rem;
}

.previewImage label{
  cursor: pointer;
  font: 600 1.8rem Rajdhani;
}

.previewImage input[type=file]{
  display: none;
}

.previewImage .image{
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  background: var(--color-secondary);
  overflow: hidden;
}

.previewImage .image img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.buttonCreate{
  width: 100%;
}