.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 11;
}

.background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
}

.container{
  background: var(--color-background);
  width: 90%;
  margin: 0 2rem;
  max-width: 420px;
  min-height: 40rem;
  padding: 2rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container header{
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--color-text-title);
}

.container > button{
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: transparent;
  border: 0;
  font-size: 0;
  cursor: pointer;
}

.container button #close{
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 375px){
  .container{
    margin: 0;
    padding: 3rem 3rem;
  }

  .container header{
    font-size: 2.75rem;
  }
}