:root {
  font-size: 60%;

  --color-background: #501B1D;
  --color-primary: #2E1114;
  --color-secondary: #7F6566;
  --color-modal : #4B1A1C;
  --color-button : #8A2E31;
  --color-button-secondary : #E5E5E5;
  --color-button-session : #993336;
  --color-text-title: #C4C4C4;
  --color-text-primary: #ADADAD;
  --color-text-secondary: #FFF;
  --color-text-button: #FFF;
  --color-text-button-secondary : #000;
  --color-text-button-session : #E3CFCF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background: var(--color-background);
  font: 500 1.6rem Rajdhani;
  color: var(--color-text-primary);
}

.buttonWithoutBG{
  background: none;
  border: 0;
  margin-top: 0.3rem;

  cursor: pointer;

  font: 600 1.5rem Rajdhani;
  color: var(--color-text-primary);

  transition: background 0.2s;
}

.buttonWithoutBG:hover, .buttonWithoutBG:hover a{
  color: var(--color-text-title);
}

.buttonWithoutBG a{
  text-decoration: none;
  color: var(--color-text-primary);
}

.collapsedStyle{
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modalContent {
  background-color: var(--color-modal);
  border-radius: 1rem;
  margin: 50% auto 0;
  width: 80%;
  max-width: 500px;
  height: 20rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent h2{
  color: var(--color-text-title);
  font: 600 2.5rem Rajdhani;
}

.modalContent p{
  font: 500 1.8rem Rajdhani;
  margin: 1.5rem 0;
  text-align: center;
}

.modalContent .buttons {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.modalContent .buttons button{
  width: 12rem;
  height: 3rem;

  cursor: pointer;

  border-radius: 10rem;
  background: var(--color-button);
  color: var(--color-text-button);
  text-align: center;
  border: 0;

  font: 600 2rem Rajdhani;
  transition: background 0.2s;
}

.modalContent .buttons button:hover{
  background: #913538;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background: #888; 
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background: rgb(131, 131, 131); 
}

@media (min-width: 700px){
  :root{
    font-size: 62.5%;
  }
}

@media (min-width: 1100px){
  .modalContent {
    margin: 20% auto 0;
  }
}