.overlay{
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 20;
}

.container{
  background: var(--color-modal);
  width: 90%;
  margin: 2rem;
  min-height: 40rem;
  max-height: 600px;
  padding: 3rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;

  top: 1rem;

  overflow-y: auto;
}

.column1{
  margin-top: 2.5rem;
}

#status > div:last-child{
  height: 16rem;
}

.statusContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.statusItem{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statusItem > p{
  font: 600 1.7rem Rajdhani;
  color: var(--color-text-secondary);
}

.statusItem .statusBar{
  border: 1px solid var(--color-text-secondary);
  background-color: #000;
  margin-left: 1.5rem;
  width: 100%;
  height: 2rem;
}

.statusItem .statusBar .number{
  font: 500 1.6rem Rajdhani;
  color: var(--color-text-secondary);
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(-2rem + 2px);
}

.statusItem .statusBar .progressBar{
  height: 100%;
  position: relative;
}

.statusContainer + .statusContainer{
  margin-top: 1rem;
}

.statusItem .input hr{
  width: 3.5rem;
  position: relative;
  top: -4px;
}

.statusItem .input input{
  font: 600 1.6rem Rajdhani;
  width: 4rem;
}

.statusItem .input input,
.statusItem .input hr{
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}

.statusContainer button{
  cursor: pointer;
  height: 1.8rem;
  border-radius: 10rem;
  width: 7.5rem;
  margin-top: 0.75rem;
  
  background: var(--color-button-secondary);
  color: var(--color-text-button-secondary);
  text-align: center;
  border: 0;

  font: 600 1.5rem Rajdhani;
  transition: background 0.2s;
}

.statusContainer button:hover{
  color: var(--color-text-button);
  background: #913538;
}

#inventory > div:last-child{
  height: 10rem;
}

#inventory > div:first-child{
  align-items: center;
}

#inventory > div:first-child h3{
  margin-left: 0;
}

.inventoryItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inventoryItem + .inventoryItem{
  margin-top: 1rem;
}

.inventoryItem button,
.inventoryItem button img{
  width: 1.4rem;
  height: 1.4rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 0.5rem;
}

.column2{
  margin-top: 2.5rem;
}

#skills > div:last-child{
  height: 20rem;
  padding-right: 1rem;
}

.skillItem > p{
  max-width: 11rem;
}

.skillItem div:last-child {
  margin-left: 0.5rem;
}

.skillItem div:last-child div hr{
  display: none;
}

.column2 button{
  margin-top: 1.5rem;
}

.inventoryOptions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saveInventory{
  cursor: pointer;
  height: 2.2rem;
  border-radius: 10rem;
  width: 6.5rem;
  margin-left: 1rem;
  
  background: var(--color-button);
  color: var(--color-text-button);
  text-align: center;
  border: 0;

  font: 600 1.6rem Rajdhani;
  transition: background 0.2s;
}

.saveInventory:hover{
  background: #913538;
}

@media(min-height:770px){
  .container{
    max-height: 700px;
  }
}

@media(min-height:850px){
  .container{
    max-height: 800px;
  }
}

@media(min-height:900px){
  .container{
    max-height: none;
  }
}

@media (min-width:1100px){
  .container{
    width: 55%;
    top: 0;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }

  #skills > div:last-child{
    height: 32rem;
    padding-right: 2rem;
  }
  
  #inventory > div:first-child{
    align-items: flex-start;
  }

  #inventory > div:last-child{
    height: 17.5rem;
  }

  #status h3,
  #inventory h3,
  #skills h3{
    font-size: 2rem;
  }
  
  .statusContainer .statusBar{
    height: 2.4rem;
  }

  .statusContainer .statusBar .number{
    font: 500 1.7rem Rajdhani;
    top: calc(-2.4rem + 2px);
  }
  
  .statusItem > p{
    font-size: 1.8rem;
  }

  .statusItem .input input{
    font-size: 1.8rem;
  }

  .statusContainer button{
    height: 2.2rem;
    width: 8rem;
  
    font: 600 1.6rem Rajdhani;
  }

  .skillItem > p{
    max-width: none;
  }

  .skillItem div:last-child {
    margin-left: 1rem;
  }

  .skillItem, .skillItem div:last-child input{
    font: 600 1.9rem Rajdhani;
  }

  .inventoryOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 1530){

  #status > div:last-child{
    height: 20rem;
  }

  #inventory > div:last-child{
    height: 21.5rem;
  }
  
  #skills > div:last-child{
    height: 40rem;
  }

  .statusItem > p{
    font-size: 1.9rem;
  }
  
  .statusContainer .statusBar{
    height: 2.5rem;
  }

  .statusContainer .statusBar .number{
    font: 500 1.8rem Rajdhani;
    top: calc(-2.5rem + 2px);
  }
}