.overlay{
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 20;
}

.container{
  background: var(--color-modal);
  width: 90%;
  max-width: 55rem;
  margin: 0 2rem;
  min-height: 40rem;
  padding: 3rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

#notes h3{
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

#notes > div:last-child{
  height: 20rem;
}

.newNoteContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;
}

.newNoteContainer button{
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 50%;
  border: 0;
  background: var(--color-button);

  margin-left: 1rem;
  margin-top: 2.5rem;

  cursor: pointer;
  padding-top: 0.25rem;
  padding-left: 0.3rem;
}

.newNoteContainer button img{
  height: 2.25rem;
  width: 2.25rem;
}

.inputNote{
  width: 85%;
}

.closeButton{
  margin-top: 3rem;
}

.noteItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  padding: 1rem;
  border-bottom: 1px solid var(--color-text-secondary);
}

.noteItem p{
  font-size: 1.7rem;
  line-height: 2.2rem;
  white-space: pre-wrap;
  text-align: left;
}

.noteItem img{
  height: 1.8rem;
}

.noteItem button{
  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.noteItem:hover{
  background: #913538;
}

@media (min-width:1100px){
  .container{
    width: 50rem;
  }

  #notes h3{
    font-size: 2.5rem;
  }

  #notes > div:last-child{
    height: 25rem;
  }

  .noteItem p{
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .newNoteContainer button{
    height: 5rem;
    width: 5rem;
  }
  
  .newNoteContainer button img{
    height: 3rem;
    width: 3rem;
  }
}