.buttonBlock{
  position: relative;
  display: flex;
  justify-content: center;

  margin: 3rem 0 2rem;
}

.buttonBlock button{
  width: 100%;
  height: 7rem;
  padding: 0 3.5rem;

  cursor: pointer;

  border-radius: 10rem;
  background: var(--color-button-session);
  color: var(--color-text-button);
  border: 0;
  text-align: center;

  font: 600 2.2rem Rajdhani;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background 0.2s;
}

.buttonBlock button:hover{
  background: #9e393c;
}

.buttonBlock img{
  height: 3.5rem;
}

@media (min-width:1100px){
  .buttonBlock button{
    font-size: 2.5rem;    
    padding: 0 4rem;
  }
}