.buttonBlock{
  position: relative;
  display: flex;
  justify-content: center;

  margin: 3rem 0 2rem;
}

.buttonBlock button{
  width: 100%;
  height: 7rem;
  padding: 0 4rem;

  cursor: pointer;

  border-radius: 10rem;
  background: var(--color-button-session);
  color: var(--color-text-button-session);
  border: 0;
  text-align: center;

  font: 600 2.5rem Rajdhani;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBlock img{
  height: 3.5rem;
}