.sidebarContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  z-index: 10;
}

.collapsedSidebarContainer{
  width: 100%;
  height: 8.5rem;
}

.headBar{
  width: 100vw;
  height: 8.5rem;

  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 4rem 2rem 1rem;

  background: var(--color-primary);
}

.headBar .moreIcon img{
  margin-top: 0.5rem;
  width: 3.5rem;
  cursor: pointer;
}

.headBar .iconAccount{
  width: 100%;
  padding-left: 2rem;
  display: flex;
}

.headBar .iconContainer{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--color-text-primary);
  border: 1px solid #FFF;
  overflow: hidden;
}

.menu{
  width: 35rem;
  height: 100vh;

  transform: translateX(0);

  background: var(--color-primary);
  padding: 4.6rem 1rem 10rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;

  transition: width 0.3s;
  transition: transform 0.1s;
}

.collapsedMenu{
  width: 7.5rem;
  transform: translateX(-35rem);
  transition: width 0.3s;
  transition: transform 0.1s;
}

.account a, .icon p{
  transition: color 0.2s;
}

.account a:hover{
  color: #ce454a;
}

.icon:hover p{
  color: var(--color-text-secondary);
}

.moreIcon{
  width: 5.5rem;
  cursor: pointer;
}

.moreIcon img{
  width: 3.5rem;
}

.menu .iconAccount{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  
  margin-top: 4.5rem;
}

.menu .iconContainer{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--color-text-primary);
  border: 1px solid #FFF;
  overflow: hidden;
}

.iconContainer img{
  width: 100%;
  height: 100%;
  
  object-position: center;
  object-fit: cover;
}

.account, .icon p{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0.5rem 2rem 0;
  font: 600 2rem Rajdhani;
  text-decoration: none;
  color: var(--color-text-primary);

  transition: color 0.2s;
}

.account a{
  font-size: 1.5rem;
  color: var(--color-button-session);
  text-decoration: none;
}

.iconsMenu a img{
  width: 3.5rem;
  color: var(--color-text-primary);
}

.iconsMenu{
  width: 5.5rem;
  padding-left: 0.8rem;
}

.icon, .icon a{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  text-decoration: none;
}
 .icon p{
  margin-top: 0.6rem;
}

.menu .menu > .iconsMenu{
  transform: translateY(-12rem);
}
.menu .menu > .iconsMenu ~ .iconsMenu{
  transform: translateY(0);
}

.home{
  margin-bottom: 4.5rem;
}

.overlay{
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  position: relative;
  background-color: rgba(0, 0, 0, .6);
  display: block;
}

.overlayCollapsed{
  display: none;
}

.collapsedStyle, p.collapsedStyle{
  display: none;
}

@media (min-width: 1100px){
  .collapsedSidebarContainer{
    height: 100vh;
    width: 7.5rem;
  }

  .headBar{
    display: none;
  }

  .menu{
    width: 22.5rem;
    padding: 2.6rem 1rem;
    transform: translateX(0);
    transition: width 0.3s;
  }

  .collapsedMenu{
    width: 7.5rem;
    transition: width 0.3s;
  }

  .moreIcon img{
    width: 3.9rem;
  }
}