.contentContainer{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contentContainer .text{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 2rem;
}

.contentContainer .text h1{
  font: 600 2.3rem Rajdhani;
  color: var(--color-text-title);
}

.contentContainer .text button{
  margin-left: 1.5rem;
}

.contentContainer:last-of-type{
  margin-top: 4rem;
}

.contentContainer .elementsList{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 20rem;
  overflow-x: auto;
}