.newRpgContainer h1{
  font: 600 3rem Rajdhani;
  color: var(--color-text-title);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.newRpgContainer .previewImage{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}

.newRpgContainer .image{
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  background: var(--color-secondary)
}

.newRpgContainer .image img{
  height: 10rem;
  width: 10rem;
  border-radius: 2rem;
  object-fit: cover;
}

.newRpgContainer .previewImage label{
  font: 500 1.8rem Rajdhani;
  margin-left: 1.5rem;
  cursor: pointer;
}

.newRpgContainer .previewImage input[type=file]{
  display: none;
}

.newRpgContainer button{
  margin-top: 2.5rem;
}

.textarea textarea{
  height: 15rem;
}

@media (min-width:800px){
  .newRpgContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .newRpgContainer h1{
    margin-left: 2rem;
    margin-bottom: 7rem;
    margin-top: 4rem;
  }

  .newRpgContainer .formContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .newRpgContainer .formContainer form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .newRpgContainer .previewImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-right: 10rem;
    margin-top: 3rem;
  
    cursor: pointer;
  }
  
  .newRpgContainer .image{
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
    background: var(--color-secondary)
  }

  .newRpgContainer .image img{
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
  }
  
  .newRpgContainer .previewImage p{
    font: 500 1.8rem Rajdhani;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .newRpgContainer button{
    margin-top: 8rem;
  }
}