.newScenarioContainer{
  margin-bottom: 2rem;
}

.newScenarioContainer .previewImage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.newScenarioContainer .image{
  --width: 90vw;
  width: 100%;
  max-width: 550px;
  height: calc((var(--width)*1080)/1920);
  max-height: 310px;
  border-radius: 2rem;
  background: var(--color-secondary);
  overflow: hidden;
}

.image img{
  object-fit: contain;
}

.newScenarioContainer .previewImage label{
  font: 500 1.6rem Rajdhani;
  margin-left: 1.5rem;
  cursor: pointer;
}

.newScenarioContainer .previewImage input[type=file]{
  display: none;
}

.newScenarioContainer button{
  margin-top: 4rem;
}

.newScenarioContainer .edit button{
  margin-top: 1.5rem;
}

@media (min-width:1100px){
  .newScenarioContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 0;
  }

  .newScenarioContainer h1{
    margin-left: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .newScenarioContainer .formContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .newScenarioContainer .formContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .newScenarioContainer .image{
    width: 750px;
    height: 500px;
    border-radius: 2rem;
    background: var(--color-secondary);
    overflow: hidden;
  }

  .newScenarioContainer .previewImage{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 2rem;
  
    cursor: pointer;
  }

  .newScenarioContainer .previewImage label{
    font-size: 1.8rem;
  }
  
  .newScenarioContainer .previewImage p{
    font: 500 1.8rem Rajdhani;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .newScenarioContainer .items{
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .newScenarioContainer button{
    margin-top: 5rem;
  }
}

@media (min-width:1500px){

  .newScenarioContainer h1{
    margin-bottom: 7rem;
  }

  .newScenarioContainer .formContainer form{
    flex-direction: row;
  }

  .newScenarioContainer .previewImage{
    width: 70rem;
  }

  .newScenarioContainer .image{
    width: 70rem;
  }

  .newScenarioContainer .items{
    margin-left: 0;
  }

  .newScenarioContainer .items{
    width: 30%;
  }

}