.header{
  margin-top: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
}

.header > div{
  margin-left: 0;
}

.header .options{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font: 600 2rem Rajdhani;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header .options button{
  font-size: 2rem;
}

.body .name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1rem;
  margin-right: 0;
}

.body .name p{
  font: 600 1.9rem Rajdhani;
  margin-left: 1rem;
}

.name .image{
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 2rem;
  background: var(--color-secondary);
  overflow: hidden;
}

.name .image img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

#status > div:last-child, #inventory > div:last-child{
  height: 11rem;
}

.column2{
  margin-top: 2.5rem;
}

.points{
  width: 15rem;
  font: 500 1.5rem Rajdhani;
}

#skills > div:last-child{
  height: 20rem;
}

.buttons{
  margin-top: 2rem;
}

#buttonSession{
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.inventoryItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width:1100px){
  .header{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header .options{
    width: auto;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .options button{
    margin-top: 0;
    margin-right: 5rem;
  }

  .body{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .column1, .column2{
    width: 50%;
  }

  .column1 + .column2{
    margin-left: 2rem;
  }

  .column2{
    margin-top: 0rem;
  }

  .body .name{
    margin-top: 0;
  }

  .body .name p{
    margin-left: 2rem;
  }

  .body .name .image{
    height: 10rem;
    width: 10rem;
  }
  
  .body .name .image img{
    height: 10rem;
    width: 10rem;
  }

  #status > div:last-child, #inventory > div:last-child{
    height: 13rem;
  }

  #skills > div:last-child{
    height: 30rem;
  }
}

@media (min-width:1750px){
  .column1 + .column2{
    margin-left: 10rem;
  }
}