.rpgHomeContainer .header{
  margin-top: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
}

.rpgHomeContainer .header > div{
  margin-left: 0;
}

.rpgHomeContainer .header .options{
  width: 100%;
  margin: 1rem 0 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rpgHomeContainer .header .options button{
  font-size: 1.8rem;
}

.rpgHomeContainer .body .buttons:nth-of-type(1) button{
  margin-top: 3rem;
}

#char div:last-child{
  height: 20rem;
}

#scenario div:last-child, 
#object div:last-child, 
#account div:last-child{
  height: 15rem;
}

.rpgHomeContainer .body button{
  margin: 0.5rem 0;
}

@media(min-width: 1100px){
  .rpgHomeContainer .header{
    flex-direction: row;
    justify-content: space-between;
  }

  .rpgHomeContainer .header .options{
    width: auto;
    margin-top: 2rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rpgHomeContainer .header .options button{
    margin-left: 5rem;
  }

  .rpgHomeContainer .body{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .rpgHomeContainer .body .grid1{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .rpgHomeContainer .body .grid1:first-of-type{
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .rpgHomeContainer .body .grid2{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .rpgHomeContainer .body .grid3{
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .rpgHomeContainer .body .grid3:nth-of-type(4){
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #char, #scenario, #object, #account{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #char{
    margin-top: 2.5rem;
  }

  #account{
    margin-top: 3rem;
  }

  #char div:last-child{
    height: 100%;
  }

  #account div:last-child{
    height: 100%;
  }

  .rpgHomeContainer .body .grid2:nth-last-of-type(2) button{
    margin-top: 3rem;
  }

  .buttons{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #session{
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  
}