.itemsArea{
  margin-top: 1rem;
  border-radius: 1rem;

  align-items: flex-start;

  background: #997e7e;
}

.inventoryItem div, .inventoryItem div:last-child div input{
  color: #fff;
  font-size: 2rem;
  outline: 0;
}

.inventoryItem + .inventoryItem{
  margin-top: 0.5rem;
}

.charItem{
  margin: 2rem 0 3rem;
  padding: 0 3rem;
}

.skillItem{
  color: var(--color-text-secondary);
}

.skillItem, .skillItem div:last-child input{
  outline: 0;
}

.skillItem div:last-child div hr{
  display: none;
}