.sheetContainer{
  margin-bottom: 2rem;
}

.skillsContent{
  margin-top: 2rem;
}

.sheetContainer #status > div:last-child{
  height: 11rem;
}

.sheetContainer #status .statusElement{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--color-text-secondary);
}

.statusElement + .statusElement,
.skillsElement + .skillsElement{
  margin-top: 0.75rem;
}

.sheetContainer #status .statusElement .name{
  display: flex;
}

.sheetContainer #status .statusElement .name input,
.sheetContainer #skills .skillsElement > input{
  width: 8rem;
  border: 0;
  background: none;
  padding-top: 0.5rem;

  font: 600 1.7rem Rajdhani;
  color: var(--color-text-secondary);
}

.sheetContainer #status .statusElement .buttonColor{
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;

  margin-left: 1rem;
  border-radius: 50%;
  border: 1px solid #FFF;
}

.sheetContainer .pointsContainer{
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  font: 600 1.8rem Rajdhani;
}

.sheetContainer .pointsContainer input,
.sheetContainer .pointsContainer hr{
  color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}

.sheetContainer .pointsContainer input{
  font-size: 1.7rem;
}

.sheetContainer .pointsContainer hr{
  width: 4.5rem;
}

.sheetContainer #skills > div:last-child{
  height: 20rem;
}

.sheetContainer #skills .skillsElement{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--color-text-secondary);
}

.sheetContainer #skills .skillsElement > input{
  width: 12rem;
}

.sheetContainer .points{
  margin: 2rem 0 2.5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sheetContainer .points p{
  font: 600 1.8rem Rajdhani;
}

@media(min-width: 1100px){
  .sheetContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-bottom: 0;
  }

  .sheetContainer h1{
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .sheetContainer .content{
    width: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .skillsContent{
    margin-top: 0rem;
  }

  .sheetContainer #status .statusElement .buttonColor{
    margin-left: 2rem;
  }

  .sheetContainer #status .statusElement .name input{
    width: 12rem;
    font-size: 1.8rem;
  }

  .sheetContainer .pointsContainer input{
    font-size: 1.8rem;
  }

  .sheetContainer .pointsContainer hr{
    width: 5.5rem;
  }
  
  .sheetContainer #status, .sheetContainer .skillsContent{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
  }

  .sheetContainer #skills .skillsElement > input{
    width: 22rem;
  }

  .sheetContainer #status > div:last-child{
    height: 38rem;
  }

  .sheetContainer #skills > div:last-child{
    height: 32rem;
  }

  .sheetContainer .points p{
    font: 600 2rem Rajdhani;
  }

  .sheetContainer .buttonSave button{
    width: 40%;
    margin-top: 4rem;
  }

}